<b>Logged as: </b><code>{{ .Username }}</code>
<i>Tickets Refresh Interval: </i><code>{{ .RefreshInterval }}</code>
<i>Notify on new tickets: </i><code>{{ .NotifyNew }}</code>
<i>Notify on tickets updates: </i><code>{{ .NotifyUpdate }}</code>