<b>Logged as: </b><code>{{ .Username }}</code>
<i>Tickets Refresh Interval: </i>
Every <code>{{ .RefreshInterval }}</code> from <code>{{ .RefreshStart }}</code> to <code>{{ .RefreshStop }}</code>
<i>Notify on new tickets: </i><code>{{ .NotifyNew }}</code>
<i>Notify on tickets updates: </i><code>{{ .NotifyUpdate }}</code>