{{- template "contract.short.tmpl" . }}
{{- if .Comment }}
<i>Comment: </i><pre>{{ .Comment }}</pre>
{{- end }}
{{- with .Billing.Inet }}
{{- if .ID }}

<b>Internet</b> {{- template "account" . }}
{{- if .Tariff }}
<i>Tariff: </i><code>{{ .Tariff }}</code>
{{- end }}
{{- range .IPs }}
<code>{{ . }}</code>
{{- end }}
{{- end }}
{{- end }}
{{- with .Billing.Tel }}
{{- if .ID }}

<b>Telephony</b> {{- template "account" . }}
{{- range .Numbers }}
<code>{{ . }}</code>
{{- end }}
{{- end }}
{{- end }}
{{- with .Billing.LDTel }}
{{- if .ID }}

<b>LD/ILD Telephony</b> {{- template "account" . }}
{{- range .Numbers }}
<code>{{ . }}</code>
{{- end }}
{{- end }}
{{- end }}
{{- with .Billing.TV }}
{{- if .ID }}

<b>TV</b>
{{- template "account" . }}
{{- end }}
{{- end }}

{{- define "account" }} [<code>{{ .ID }}</code>] 
{{- if not .Enabled }} &#9888; <b>blocked</b>{{ end }}
<i>Balance: </i><code>{{ .Balance }}</code> <i>Credit: </i><code>{{ .Credit }}</code>
{{- if .Services }}
<i>Services:</i>
{{- range .Services }}
<pre>{{ . }}</pre>
{{- end }}
{{- end }}
{{- end }}
