[<code>{{ .ContractID }}</code>]{{ if .Terminated }} ‼️TERMINATED‼️{{ end }}
{{- if .Name }}
<b>{{ .Name }}</b>
{{- end }}
{{- if .Company }}
<i>{{ .Company }}</i>
{{- end }}
{{- range .Contacts }}
📞 <code>{{ . }}</code>
{{- end }}
{{- if .Street }}
🏠 <code>{{ .Street }} {{ .House }}{{ if .Room }} - {{ .Room }}{{ end }}</code>
{{- end }}
{{- if .Office }}
🏢 <code>{{ .Office }}</code>
{{- end }}
{{- if .SwitchIP }}
<i>Switch: </i><code>{{ .SwitchIP }} {{ .Port }}</code>
{{- end }}
{{- if .Cable }}
<i>Cable: </i><code>{{ .Cable }}</code>
{{- end }}
