[<code>{{ .ContractID }}</code>]{{ if .Terminated }} &#8252;TERMINATED&#8252;{{ end }}
{{- if .Name }}
<b>{{ .Name }}</b>
{{- end }}
{{- if .Company }}
<i>{{ .Company }}</i>
{{- end }}
{{- range .Contacts }}
&#128222; <a href="tel:{{ fmtPhone . }}">{{ fmtPhone . }}</a>
{{- end }}
{{- if .Street }}
&#127968; <code>{{ .Street }} {{ .House }}{{ if .Room }} - {{ .Room }}{{ end }}</code>
{{- end }}
{{- if .Office }}
&#127970; <code>{{ .Office }}</code>
{{- end }}
{{- if or .Street .Company }}
<a href="https://yandex.ru/maps/?text=г. Коломна
{{- if .Street }}, ул. {{ .Street }}{{ end -}}
{{- if .House }}, д. {{ .House }}{{ end -}}
{{- if .Room }}, кв. {{ .Room }}{{ end -}}
{{- if .Office }}, офис {{ .Office }}{{ end -}}
{{- if .Company }}, {{ .Company }}{{ end -}}
">[View on map]</a>
{{- end }}
{{- if .SwitchIP }}
<i>Switch: </i><code>{{ .SwitchIP }} {{ .Port }}</code>
{{- end }}
{{- if .Cable }}
<i>Cable: </i><code>{{ .Cable }}</code>
{{- end }}
