{{- $warning := "\xE2\x9A\xA0" }}
<i>RX Total: </i><code>{{ fmtBytes .TotalRX false }}</code> <i>Speed: </i><code>{{ fmtBytes .SpeedRX true }}/s</code>
<i>TX Total: </i><code>{{ fmtBytes .TotalTX false }}</code> <i>Speed: </i><code>{{ fmtBytes .SpeedTX true }}/s</code>
{{- if .ErrorsRX }}
{{ $warning }}<b>RX Errors</b>
{{- range .ErrorsRX }}
<i>{{ .Name }}: </i><code>{{ .Count }}</code>
{{- end }}
{{- end }}
{{- if .ErrorsTX }}
{{ $warning }}<b>TX Errors</b>
{{- range .ErrorsTX }}
<i>{{ .Name }}: </i><code>{{ .Count }}</code>
{{- end }}
{{- end }}
