<b>RX (port ⟵ client)</b>
<i>Total: </i><code>{{ fmtBytes .TotalRX false }}</code>
<i>Now: </i><code>{{ fmtBytes .SpeedRX true }}/s</code>
{{- if .ErrorsRX }}
<b>RX Errors</b>
{{- range .ErrorsRX }}
<i>{{ .Name }}: </i><code>{{ .Count }}</code>
{{- end }}
{{- end }}

<b>TX (port ⟶ client)</b>
<i>Total: </i><code>{{ fmtBytes .TotalTX false }}</code>
<i>Now: </i><code>{{ fmtBytes .SpeedTX true }}/s</code>
{{- if .ErrorsTX }}
<b>TX Errors</b>
{{- range .ErrorsTX }}
<i>{{ .Name }}: </i><code>{{ .Count }}</code>
{{- end }}
{{- end }}
