<b>ADDRESS:  </b><code>{{ .IP | printf "%16s" }}</code>
<b>NETMASK: </b><code>{{ .Mask | printf "%16s" }}</code>
<b>GATEWAY:  </b><code>{{ .Gateway | printf "%16s" }}</code>
<b>PREFIX:  </b><code>{{ .Prefix | printf "%18d" }}</code>
