{{- range .}}
<i>Port: </i><b>{{ .Port }}{{ .Type }} </b>
{{ if not .State -}}
    &#127761;[PORT OFF]
{{- else }}
    {{- if eq .Speed "Auto" -}}
        &#127765;[PORT ON]
    {{- else -}}
        &#9888;[PORT ON]
    {{- end }}
{{- end }} <code>{{ .Speed }}</code>
{{ if .Link }}&#127758;[LINK UP] {{ else }}&#128245;[LINK DOWN] {{ end -}}
<code>{{ .Status }}</code>
{{- if .Cable }}
{{- range .Cable }}
<code>Pair {{ .Pair }} {{ .State }}
{{- if ne .Len 666 }} {{ .Len }} M{{ end }}</code>
{{- end -}}
{{- end }}
{{- if .Description }}
<i>Description: </i><code>{{ .Description }}</code>{{ end }}
{{- if not .Learning }}
<i>MAC learning: </i><code>disabled</code>&#8252;{{ end }}
{{- if .Autodowngrade }}
<i>Autodowngrade: </i><code>enabled</code>{{ end }}
{{- end }}
