ip: <code>{{ .IP }}</code>
mac: <code>{{ .MAC }}</code>
model: <code>{{ .Model }}</code>
location: <code>{{ .Location }}</code>
status: {{ if .Status -}}
🆙 <code>available</code>{{ else -}}
🚫 <code>unavailable</code>{{ end }}
