ip: <code>{{ .IP }}</code>
mac: <code>{{ .MAC }}</code>
model: <code>{{ .Model }}</code>
location: <code>{{ .Location }}</code>
status: {{ if .Status -}}
&#127385; <code>available</code>{{ else -}}
&#128683; <code>unavailable</code>{{ end }}
