{{- if .Untagged }}
<i>VLAN untagged: </i>
{{- range .Untagged -}}<code>{{ . }}</code> {{ end }}
{{- end }}
{{- if .Tagged }}
<i>VLAN tagged: </i>
{{- range .Tagged -}}<code>{{ . }}</code> {{ end }}
{{- end }}
